<div class="widget">
    <header>
        <span class="widget-header"><span class="fab fa-monero"></span> Keep the Lights On</span>
    </header>
    <div class="row">
        <button id="coinhive-start-stop" class="button row-item small-full"><span class="fas fa-play"></span></button>
        <div class="row-item small-half">
            <span class="widget-header-small">Hash/Sec.</span>
            <span id="coinhive-hashes-per-second">0.0</span>
        </div>
        <div class="row-item small-half">
            <span class="widget-header-small">Total</span>
            <span id="coinhive-total-hashes">0</span>
        </div>
        <div class="row-item small-half small-text-left row">
            <span class="widget-header-small small-full">Threads</span>
            <span id="coinhive-threads-down" class="small-half medium-quarter small-text-center clickable no-select" style="font-size: 1.5em;">-</span>
            <span id="coinhive-threads" class="small-only-left">0</span>
            <span id="coinhive-threads-up" class="small-half medium-quarter small-text-center clickable no-select" style="font-size: 1.5em;">+</span>
        </div>
        <div class="row-item small-half small-text-left row">
            <span class="widget-header-small small-full small-only-left">CPU Time</span>
            <span id="coinhive-cpu-down" class="small-half medium-quarter clickable no-select" style="font-size: 1.5em;">-</span>
            <span id="coinhive-cpu" class="small-only-left">0</span>
            <span id="coinhive-cpu-up" class="small-half medium-quarter clickable no-select" style="font-size: 1.5em;">+</span>
        </div>
    </div>
    <script src="https://authedmine.com/lib/authedmine.min.js" defer></script>
    <script> coinHiveKey = "{{ $.Site.Params.sidebar.coinhive.key }}" </script>
    <script src="{{ partial "utility/make_link.html" (cond .Site.Params.no_minimize "/js/coinhive.js" "/js/coinhive.min.js") }}" defer></script>
</div>
