/* CSS Reset */
@import url("reset.css");
/* Custom fonts */
@import url("fonts/stylesheet.css");
/* Fix some of the resets */
* {
  box-sizing: border-box;
}
body { font-family: "Clear Sans", sans-serif; }
p { margin-bottom: 1rem; }
p, li { line-height: 1.5; }
ul {
  list-style: none;
  margin-bottom: 1rem;
}
main ul { list-style: disc outside; }

li > ul {
  margin-left: 2rem;
}

div, article {
  margin: 0.5rem 0;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2.24rem; }
h3 { font-size: 1.98rem; }
h4 { font-size: 1.72rem; }
h5 { font-size: 1.46rem; }
h6 { font-size: 1.2rem; }
h1,h2,h3,h4,h5,h6 {
  margin: 0.5rem 0;
}

table {
  margin-bottom: 1rem;
}

code { padding: 0.2rem; display: inline-block;}
code, pre {
  max-width: 100%;
  font-family: "Source Code Pro", monospace;
}
th, td {
  padding: 0.6rem;
  vertical-align: middle;
}

blockquote {
  padding-top: 0.5rem;
  padding-left: 1rem;
  border-left: 1px solid #e2e2e2;
  color: #8a8a8a;
}

a { text-decoration: none; }

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

small { font-size: 0.8em;}

sup { position: relative; top: -0.5em; font-size: 80%; }

/* Base classes */
.row, .menu {
  display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}

.menu {
  font-size: 0.9rem;
}

.no-select {
  /* Thanks to https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting-using-css#4407335 */
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.hcenter {
  justify-content: center;
}

.vcenter {
  align-items: center;
}

.row-item {
  padding: 0 5px;
  display: block;
}

.small-full {
  flex: 0 0 100%;
  width: 100%;
  max-width: 100%;
}

.small-half {
  flex: 0 0 50%;
  width: 50%;
  max-width: 50%;
}

.small-quarter {
  flex: 0 0 25%;
  width: 25%;
  max-width: 25%;
}

.small-third {
  flex: 0 0 33.33333%;
  width: 33.33333%;
  max-width: 33.33333%;
}

.small-two-thirds {
  flex: 0 0 66.66667%;
  width: 66.66667%;
  max-width: 66.66667%;
}

@media only screen and (max-width: 639px) {

  #main-nav { display: none; }

  #menu-toggle {
    cursor: pointer;
  }

  #menu-toggle-box:checked + #main-nav {
    display: block;
  }

  .menu {
    list-style: none;
    align-items: center;
    margin: 0;
    position: relative;
  }

  .menu li {
    flex: 0 0 auto;
    width: 100%;
  }

  .menu a, .menu label {
    text-decoration: none;
    width: 100%;
    text-align: left;
  }

  .menu input[type=checkbox]:checked + ul {
    display: block;
  }

  .menu ul {
    position: static;
    display: none;
    margin-left: 1rem;
  }

  .menu ul li, .menu ul li a {
    text-align: left;
    width: 100%;
    margin: 0;
  }
}

/* Medium screens */
@media only screen and (min-width: 640px) {
  .medium-full {
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
  }

  .medium-half {
    flex: 0 0 50%;
    width: 50%;
    max-width: 50%;
  }

  .medium-quarter {
    flex: 0 0 25%;
    width: 25%;
    max-width: 25%;
  }

  .medium-third {
    flex: 0 0 33.33333%;
    width: 33.33333%:
    max-width: 33.33333%:
  }

  .medium-two-thirds {
    flex: 0 0 66.66667%;
    width: 66.66667%;
    max-width: 66.66667%;
  }

  /* Horizontal menu styling */

  #menu-toggle { display: none; }

  .menu {
    list-style: none;
    align-items: center;
    margin: 0;
    position: relative;
  }

  .menu li {
    flex: 0 0 auto;
  }

  .menu a {
    text-decoration: none;
  }

  .menu label a {
    display: block;
    width: 100%;
  }

  .menu ul {
    display: none;
    position: absolute;
    top: 100%;
    min-width: 15rem;
    width: auto;
    max-width: 20rem;
    margin: 0;
  }

  .menu li:hover > ul {
    display: block;
    background: #252525;
    border: 1px solid #0a66c6;
  }

  .menu ul li, .menu ul li a, .menu ul li label {
    text-align: left;
    width: 100%;
    margin: 0;
  }

  .menu ul > li:hover > ul {
    position: absolute;
    left: 100%;
    top: 0;
    width:inherit;
  }
}

/* Large screens */
@media only screen and (min-width: 1024px) {
  .large-full {
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
  }

  .large-half {
    flex: 0 0 50%;
    width: 50%;
    max-width: 50%;
  }

  .large-quarter {
    flex: 0 0 25%;
    width: 25%;
    max-width: 25%;
  }

  .large-third {
    flex:  0 0 33.33333%;
    width: 33.33333%;
    max-width: 33.33333%;
  }

  .large-two-thirds {
    flex: 0 0 66.66667%;
    width: 66.66667%;
    max-width: 66.66667%;
  }
}

.left {
  order: -1;
}

.right {
  order: 1;
}

.hide { display: none; }

.button {
  text-align: center;
  padding: 0.5rem 1rem;
  display: inline-block;
}

.disabled {
   pointer-events: none;
   cursor: default;
}

.pagination {
  padding: 0.4rem 0.7rem;
}

.pagination:hover {
  background-color: #0a66c6;
  color: #e2e2e2;
}
/* Handwriting styles */

.allura {
  font-family: "allura";
  font-size: 1.4em;
}

.calligraffiti {
  font-family: "calligraffiti";
  font-size: 1.1em;
}

.dancing-script {
  font-family: "dancingscript";
  font-size: 1.2em;
}

.euphoria-script {
  font-family: "euphoriascript";
  font-size: 1.4em;
}

.journal {
  font-family: "journal";
  font-size: 1.5em;
}

.kingthings-wrote {
  font-family: "kingthings-wrote";
  font-size: 0.9em;
}

.note-this {
  font-family: "note-this";
  font-size: 1.1em;
}

.vag-handwritten {
  font-family: "vag-handwritten";
  font-size: 1.2em;
}

.daniel {
  font-family: "daniel";
}

.daniel-black {
  font-family: "danielblack";
}

.handwriting p {
  text-indent: 2em;
}



/* Entire page */

::-moz-selection {
  color: #e2e2e2;
  background-color: #0a66c6;
}

::selection {
  color: #e2e2e2;
  background-color: #0a66c6;
}

#site-container {
  margin: auto;
  background-color: #050505;
  color: #e2e2e2;
  width: 100%;
	max-width: 1080px;
	margin: 25px auto;
}

body {
  background-color: #000000;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* Site header */

#site-header ::-moz-selection, .tag ::-moz-selection {
  color: #e2e2e2;
  background-color: #050505;
}

#site-header ::selection, .tag ::selection {
  color: #050505;
  background-color: #e2e2e2;
}

header a:hover, header a:active, header a:focus {
  text-decoration: underline;
  color: #e2e2e2;
}

header a:link, header a:visited, #site-header header a:hover, #site-header header a:active {
  color: #e2e2e2;
  text-decoration: none;
}

#site-header {
  background-color: #0a66c6;
}

#site-header header {
  padding: 1rem 2rem;
}

#site-title, #site-tagline {
  text-transform: uppercase;
  font-weight: bold;
  display:inline-block;
}

#site-title {
  font-size: 3rem;
  padding-bottom: 0.5rem;
}

#site-tagline {
  font-size: 1.2rem;
  padding-top: 0.5rem;
  border-top: 1px solid #e2e2e2;
}

/* Site nav (including tag buttons) */

#main-nav, .tag {
  background-color: #252525;
  font-weight: bold;
  text-transform: uppercase;
}

  /* Site nav dropdown boxes align left */
#main-nav .is-dropdown-submenu .button {
  text-align: left;
}

#main-nav, #main-nav a {
  color: #e2e2e2;
}

#main-nav .button:hover {
  -o-transition: background-color ease-in-out 0.3s, color ease-in-out 0.3s;
  -webkit-transition: background-color ease-in-out 0.3s, color ease-in-out 0.3s;
  -moz-transition: background-color ease-in-out 0.3s, color ease-in-out 0.3s;
  transition: background-color ease-in-out 0.3s, color ease-in-out 0.3s;
  background-color: #0a66c6;
  cursor: pointer;
}

#main-nav .is-dropdown-submenu {
   border-color: #0a66c6
}

.tag:hover, .tag:focus, .tag:active, #main-nav .active > a {
  -o-transition: background-color ease-in-out 0.3s, color ease-in-out 0.3s;
  -webkit-transition: background-color ease-in-out 0.3s, color ease-in-out 0.3s;
  -moz-transition: background-color ease-in-out 0.3s, color ease-in-out 0.3s;
  transition: background-color ease-in-out 0.3s, color ease-in-out 0.3s;
  background-color: #0a66c6;
  color: #e2e2e2;
}

#menu-toggle {
  padding-left: 10px;
  background-color: #050505;
}

.tag {
  font-size: 0.8rem;
  margin: 0.2rem;
  text-decoration: none;
  color: #e2e2e2;
}

/* Site main */

code {
  background-color: #222222;
  color: #e2e2e2;
  border-color: #222222;
  overflow-wrap: break-word;
}

pre {
  padding: 1.2rem;
  background-color: #222222;
  font-size: 1rem;
  overflow-x: scroll;
}

#main-container {
  margin: 0.5rem 0.5rem;
  padding: 15px 20px 20px;
}

#page-header h1 {
  font-weight: bold;
  margin-top: 0;
}

main a:hover, aside a:hover {
  text-decoration: underline;
}

main a, main a:hover {
  color: #0a66c6;
}

main header a:hover, main header a:active, main header a:focus {
  color: #e2e2e2;
}

/* Site main - single */

#post-metadata a {
  color: #e2e2e2;
}

#post-tags {
  margin: 1rem 0.4rem 1rem;
}

/* Site main - list */

#post-list article {
  border-bottom: 1px solid #e2e2e2;
}

#post-list .media-object-section {
  padding: 0;
}

#post-list article h4 {
  font-weight: bold;
}

/* Site main - taxonomy list */

.taxonomy-item {
  list-style-type: none;
}

/* Site main - pagination */

.pagination .pagination-previous a,
.pagination .pagination-next a {
  color: #0a66c6;
}

.pagination .pagination-previous a:hover,
.pagination .pagination-next a:hover {
  color: #e2e2e2;
  background-color: #0a66c6;
}

/* Sidebar */

aside {
  padding-bottom: 20px;
}

/* Footer */

footer {
  padding: 0.5rem 1rem;
  background-color: #333333;
  border-top: 3px solid #999999;
}

footer p {
  margin-bottom: 0;
}

/* Tables */

table, table thead th, table tbody td {
  border: 1px solid #e2e2e2;
  border-collapse: collapse;
}

table thead th {
  background-color: #0a66c6;
  color: #e2e2e2;
}

table thead th a, table thead th a:hover {
  color: #e2e2e2;
  text-decoration: underline;
}

table tbody tr {
  color: #e2e2e2;
  background-color: #050505;
}

table tbody tr:nth-child(even) {
  background-color: #222222;
}

/* Widgets */

.widget header, #main-nav {
  text-transform: uppercase;
  margin: 0.5rem 0;
  border-bottom: 3px solid #0a66c6;
}

.widget ul li {
  border-bottom: 1px dotted #e2e2e2;
  padding: 0.2rem;
  font-size: 0.9rem;
}

.widget a:link, .widget a:visited {
  color: #e2e2e2;
  text-decoration: none;
}

.widget a:hover, .widget a:active, .widget a:focus {
  text-decoration: underline;
}

.widget-title {
  font-size: 1.3rem;
}

/* Widgets -- Authorbox */

#authorbox {
  background-color: #050505;
  color: #e2e2e2;
  padding: 1rem 0.7rem;
  border-style: solid hidden;
  border-color: #e2e2e2;
  border-width: 1px;
  flex-wrap: nowrap;
}

#authorbox img {
  border: 3px solid #e2e2e2;
}

/* Widgets -- Patreon */
  /* Contain the banner within the sidebar */
#patreon-banner {
  width: 100%;
}

/* Hashover override (hashoverride?) */
#hashover form div.cmtbox {
  background-color: #222222 !important;
  border-color: #e2e2e2 !important;
  border-width: 0 !important;
  border-radius: 0 !important;
}

#hashover table tbody tr td {
  background-color: #222222 !important;
}

#hashover table,
#hashover table tbody,
#hashover table tbody tr,
#hashover table tbody tr td {
  border: none !important;
}

#hashover a:hover {
  text-shadow: unset;
}

#hashover form input.post_cmt {
  border-style: none !important;
}

#hashover .cmtdiv input.post_cmt,
#hashover input.post_cmt:focus,
#hashover form input.post_cmt {
  background-color: #0a66c6 !important;
  color: #e2e2e2 !important;
}

#hashover .cmtdiv input.post_cmt:hover,
#hashover form input.post_cmt:hover {
  background-color: #050505 !important;
  color: #e2e2e2 !important;
}

#hashover .cmtnote {
  color: #e2e2e2 !important;
}

#hashover .cmtbubble {
  background-color: #222222 !important;
  color: #e2e2e2 !important;
  border-style: none !important;
  border-radius: 0 !important;
}

#hashover span.cmtnumber {
  color: #222222 !important;
}

#hashover .cmtnumber img {
  border-radius: 0 !important;
  border-style: none !important;
}

#hashover .cmtdiv input[type="button"],
#hashover .cmtdiv input.delete[type="submit"],
#hashover .cmtdiv .optionbuttons a,
#hashover .cmtdiv label {
  background: #e2e2e2 !important;
  color: #050505 !important;
}

#hashover span.options,
#hashover span.options hr {
  background-color: #222222 !important;
}

#hashover a, #hashover a:link {
  color: #0a66c6 !important;
}

#hashover select {
  border-style: none;
}

#hashover > center {
  display: none !important;
}

/* PRINTED PAGE STYLING */
@media print {
  body {
    font-size: 12pt;
    font-family: "Georgia", "Liberation Serif", serif;
    background-image: none !important;
    background-color: #ffffff !important;
    color: #000000 !important;
  }
  #hashover, aside, #site-header, footer, #authorbox, #post-tags {
    display: none;
  }
  a:link:after, a:visited:after {
    content: "";
  }
  main, p, header, a, th, td { color: #000000 !important; }
  a { text-decoration: none; }
  #site-container { margin: 0 auto; background-color: #ffffff; }
  #main-container { display: block; padding: 0; }
  #main-container main {
    width: 100%;
    max-width: 100%;
    background-color: #ffffff;
    color: #000000;
  }
  @page {
    margin: 0.75in 0.5in;
  }
}
