{{ partial "header.html" . }}
  <main class="row-item small-full medium-two-thirds" {{ if (eq .Section "post") }}itemscope itemtype="http://schema.org/Blog"{{ end }}>
    <article id="post-article" {{ if (eq .Section "post") }}itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting"{{ else }}itemscope itemtype="http://schema.org/Article"{{ end }}{{ if .Params.tags }} itemref="keywords desc"{{ else }} itemref="desc"{{ end }}>
      <header id="page-header">
        <h1 itemprop="headline">{{ .Title }}</h1>
        {{ if or (not .Date.IsZero) (.Params.categories) }}
  			<p id="post-metadata" class="row">
          {{ if not .Date.IsZero }}
          <span class="row-item">
    				<i class="fi-clock"></i>
    				<time datetime="{{ .Date.Format "2006-01-02" }}" content="{{ .Date.Format "2006-01-02" }}" itemprop="datePublished">{{.Date.Format "January 02, 2006"}}</time>
          </span>
  				{{ end }}
  				{{ if .Params.categories }}
  				<span class="row-item">
  					<i class="fi-folder"></i>
  					{{ range $index, $category := .Params.categories }}{{ if gt $index 0 }}, {{ end }}<a href="{{ "categories/" | absLangURL }}{{ . | urlize | lower }}" rel="category">{{ . }}</a>{{ end }}
          </span>
  				{{ end }}
          {{ if not .Params.hide_readingtime }}
          <span class="row-item">Estimated reading time: ~<span itemprop="timeRequired">{{ .ReadingTime }} minutes</span></span>
          {{ end }}
  			</p>
  			{{ end }}
      </header>
      <div id="post-content">
        {{ if .Params.thumbnail }}
  			<figure class="thumbnail">
  				<img src="{{ .Params.thumbnail | absURL }}" alt="{{ .Title }}">
  			</figure>
  			{{ end }}
        {{ if and (isset .Params "enable_toc") (eq .Params.enable_toc true) }}{{ .TableOfContents }}{{ end }}
  			<span itemprop="articleBody">{{ .Content }}</span>
  		</div>
      {{ partial "post_tags.html" . }}
      {{ partial "authorbox.html" . }}
    </article>
  	{{ partial "post_nav.html" . }}
  	{{ partial "comments.html" . }}
  </main>
{{ partial "footer.html" . }}
