{{ partial "header.html" . }}
  <main id="tag-list" class="row columns small-12 medium-8 {{ if .Site.Params.leftsidebar }}right{{ else }}left{{ end }}">
		<header id="page-header" class="columns small-12">
			<h1 id="page-title">{{ .Title }}</h1>
		</header>

    {{ .Content }}

    {{ $len := (.Data.Terms | len) }}
    {{ $extra := mod $len 3 }}
    {{ $count := div $len 3 }}

    Length: {{ int $len }}
    Count: {{ int $count }}
    Extra: {{ int $extra }}

    Count is {{ if lt $count 1 }}less{{ else }}greater{{ end }} than 1

    <div class="taxonomy-list small-12 medium-6 large-4 columns">
      <ul>
        {{ range $key, $val := first $count .Data.Terms.Alphabetical }}
        <li>
          <a href="{{ "/tags/" | relLangURL }}{{ $val.Name | urlize }}">{{ $val.Name }}</a> ({{ $val.Count }})
        </li>
        {{ end }}
      </ul>
    </div>

    <div class="taxonomy-list small-12 medium-6 large-4 columns">
      <ul>
        {{ range $key, $val := first $count (after $count .Data.Terms.Alphabetical) }}
        <li>
          <a href="{{ "/tags/" | relLangURL }}{{ $val.Name | urlize }}">{{ $val.Name }}</a> ({{ $val.Count }})
        </li>
        {{ end }}
      </ul>
    </div>

    <div class="taxonomy-list small-12 medium-6 large-4 columns">
      <ul>
        {{ range $key, $val := after (mul $count 2) .Data.Terms.Alphabetical }}
        <li>
          <a href="{{ "/tags/" | relLangURL }}{{ $val.Name | urlize }}">{{ $val.Name }}</a> ({{ $val.Count }})
        </li>
        {{ end }}
      </ul>
    </div>
  </main>
{{ partial "footer.html" . }}
