{{ partial "header.html" . }}
  <main class="columns small-12 medium-8 {{ if .Site.Params.leftsidebar }}right{{ else }}left{{ end }}">
		<header id="page-header">
			<h1 id="page-title">{{ .Title }}</h1>
		</header>

    {{ .Content }}

    <ul id="taxonomy-list" class="row">
      {{ $data := .Data }}
      {{ range $key, $val := .Data.Terms.Alphabetical }}
      <div class="columns small-12 medium-6 large-4">
        <li class="taxonomy-item">
          <a href="/{{ $data.Plural | urlize }}/{{ $val.Name | urlize }}">{{ $val.Name }}</a> ({{ $val.Count }})
        </li>
      </div>
      {{ end }}
    </ul>
  </main>
{{ partial "footer.html" . }}
