/* PRINTED PAGE STYLING */
@media print {
  body {
    font-size: 12pt;
    font-family: "Georgia", "Liberation Serif", serif;
    background-image: none !important;
    background-color: #ffffff !important;
    color: #000000 !important;
  }
  .post-comments, aside, #site-header, footer, #authorbox, #post-tags, #post-nav {
    display: none !important;
  }
  a:link:after, a:visited:after {
    content: "";
  }
  code { color: #222222 !important; }
  main, p, header, a, th, td { color: #000000 !important; }
  a { text-decoration: none; }
  #site-container {
    margin: 0 auto;
    background-color: #ffffff;
    padding-left: 0.5in;
  }
  #main-container { display: block; padding: 0; }
  #main-container main {
    width: 100%;
    max-width: 100%;
    background-color: #ffffff;
    color: #000000;
  }
  .alert { border-color: #000000; }
  #TableOfContents {
    background-color: none;
    border: 1px solid black;
  }
  @page {
    margin: 0.75in 0.5in 0.75in 0;
  }
}
