/* Site main - single */

#post-metadata a {
  color: {{ .body_text }};
}

#post-tags {
  margin: 1rem 0.4rem 1rem;
}

main img {
  max-width: 100%;
}

/* Site main - taxonomy list */

.taxonomy-item {
  list-style-type: none;
}

/* Tables */

table, table thead th, table tbody td {
  border: 1px solid {{ .body_text }};
  border-collapse: collapse;
}

table thead th {
  background-color: {{ .accent }};
  color: {{ .header_text }};
}

table thead th a, table thead th a:hover {
  color: {{ .header_text }};
  text-decoration: underline;
}

table tbody tr {
  color: {{ .body_text }};
  background-color: {{ .main_bg }};
}

table tbody tr:nth-child(even) {
  background-color: {{ .alt_bg }};
}
