{{ if and (or (isset .Site.Params "hashover") (isset .Site.Params "muut")) (or (not (isset .Params "disable_comments")) (not .Params.disable_comments)) }}
<div class="post-comments">
  {{ if (.Site.Params.hashover) }}
    <div id="hashover"></div>
    <script>var canon_url = (document.querySelector('link[rel="canonical"]') != null) ? '?canon_url=' + encodeURIComponent(document.querySelector('link[rel="canonical"]').getAttribute('href')) : ''; document.write('<script src="/hashover.php' + canon_url + '"><\/script>');</script>
    <script defer type="text/javascript" src="{{ .Site.BaseURL }}hashover.php"></script>
    <script defer type="text/javascript" src="{{ .Site.BaseURL }}js/hashoverride.js"></script>
    <noscript>You must have JavaScript enabled to use the comments.</noscript>
  {{ else }}
    {{ with .Site.Params.muut }}
      <a href="https://muut.com/i/{{ . }}/comments" class="muut" type="dynamic">Comments</a>
      <script src="//cdn.muut.com/1/moot.min.js"></script>
    {{ else }}
      {{ template "_internal/disqus.html" . }}
    {{ end }}
  {{ end }}
</div>
{{ end }}
