<style>
/* body_text */
{{ with .Site.Params.color.body_text }}
a h1, a h2, a h3, a h4, a h5, a h6, #site-container,
#site-header nav a:hover, #authorbox, .widget ul li a,
#post-metadata a, table thead th a, table tbody td {
  color: {{ . }};
}
header ::-moz-selection, .tag ::-moz-selection {
  color: {{ . }};
}
header ::selection, .tag ::selection {
  color: {{ . }};
}
#site-tagline {
  border-top-color: {{ . }};
}
#post-list article, .widget ul li {
  border-bottom-color: {{ . }};
}
#authorbox, table, table thead th, table tbody td {
  border-color: {{ . }};
}
{{ end }}

/* alt_body_text */
{{ with .Site.Params.color.alt_body_text }}
#main-nav a:hover, #menu-toggle, code,
#site-header nav, .tag, #main-nav a,
table tbody tr:nth-child(even) {
  color: {{ . }};
}
#hashover form div.cmtbox,
#hashover table tbody tr td,
#hashover .cmtbubble,
#hashover span.cmtnumber,
#hashover span.options,
#hashover span.options hr {
  color: {{ . }} !important;
}
{{ end }}

/* background_color */
{{ with .Site.Params.color.background_color }}
#site-container, #authorbox, table tbody tr,
#main-nav a:hover {
  background-color: {{ . }};
}
#hashover .cmtdiv input.post_cmt:hover,
#hashover form input.post_cmt:hover {
  background-color: {{ . }} !important;
}
.pagination .pagination-previous a:hover,
.pagination .pagination-next a:hover {
  color: {{ . }};
}
#hashover .cmtdiv input[type="button"],
#hashover .cmtdiv input.delete[type="submit"],
#hashover .cmtdiv .optionbuttons a,
#hashover .cmtdiv label {
  color: {{ . }} !important;
}
header ::-moz-selection, .tag ::-moz-selection {
  background-color: {{ . }};
}
header ::selection, .tag ::selection {
  background-color: {{ . }};
}
{{ end }}

/* alt_background_color */
{{ with .Site.Params.color.alt_background_color }}
pre, #site-header ul.menu, #menu-toggle,
#site-header nav, .tag, #main-nav a, code,
table tbody tr:nth-child(even) {
  background-color: {{ . }};
}
#hashover form div.cmtbox, #hashover table tbody tr td,
#hashover .cmtbubble, #hashover span.options,
#hashover span.options hr {
  background-color: {{ . }} !important;
}
#hashover span.cmtnumber {
  color: {{ . }} !important;
}
code {
  border-color: {{ . }};
}
{{ end }}

/* accent_color */
{{ with .Site.Params.color.accent_color }}
#site-header, .tag:hover, .tag:active, #main-nav .active a,
.pagination .pagination-previous a:hover,
.pagination .pagination-next a:hover,
table thead th {
  background-color: {{ . }};
}
::-moz-selection {
  background-color: {{ . }};
}
::selection {
  background-color: {{ . }};
}
#hashover .cmtdiv input.post_cmt,
#hashover input.post_cmt:focus,
#hashover form input.post_cmt {
  background-color: {{ . }} !important;
}
.pagination .pagination-previous a,
.pagination .pagination-next a, table tbody td a,
table tbody td a:hover, #post-content a,
#post-content a:hover {
  color: {{ . }};
}
#hashover a, #hashover a:link {
  color: {{ . }} !important;
}
#main-nav .is-dropdown-submenu {
  border-color: {{ . }};
}
.widget h4, #site-header nav {
  border-bottom-color: {{ . }}
}
{{ end }}
{{ with .Site.Params.color.header_text }}
#site-title, #site-tagline, table thead th,
#post-content table thead th a,
#post-content table thead th a:hover,
#main-nav .active a, #main-nav a:hover,
.tag:hover {
  color: {{ . }};
}
::-moz-selection {
  color: {{ . }};
}
::selection {
  color: {{ . }};
}
#site-header h3 {
  border-top-color: {{ . }};
}
#hashover form input.post_cmt {
  color: {{ . }} !important;
}
{{ end }}
{{ if and (isset .Site.Params "background") (isset .Site.Params.background "src") }}
body {
  background-image: url("{{ .Site.Params.background.src }}");
  background-repeat: {{ if .Site.Params.background.tile}}repeat{{ else }}no-repeat{{ end }};
  {{ if .Site.Params.background.fit_width }}background-size: contain;{{ end }}
}
{{ end }}
</style>
