<style>
/* body_text */
{{ with .Site.Params.color.body_text }}
  #site-header ::-moz-selection, .tag ::-moz-selection { color: {{ . }}; }
  #site-header ::selection, .tag ::selection { color: {{ . }}; }
  #site-container, header a:hover, header a:active, header a:focus, header a:link,
  header a:visited, #site-header header a:hover, #site-header header a:active,
  #main-nav, #main-nav a, main header a:hover, main header a:active, main header a:focus,
  #post-metadata a, .widget a:link, .widget a:visited, .memberbox { color: {{ . }}; }
  #post-list article, table, table thead th, #main table tbody td, .widget ul li,
  .memberbox, .memberbox img { border-color: {{ . }}; }
  #hashover .cmtdiv input.post_cmt:hover, #hashover form input.post_cmt:hover,
  #hashover .cmtnote { color: {{ . }} !important; }
  #hashover form div.cmtbox { border-color: {{ . }} !important; }
  #hashover .cmtdiv input[type="button"],
  #hashover .cmtdiv input.delete[type="submit"],
  #hashover .cmtdiv .optionbuttons a, #hashover .cmtdiv label
  { background-color: {{ . }} !important; }
{{ end }}

/* alt_body_text */
{{ with .Site.Params.color.alt_body_text }}
  .tag, code, #main table tbody tr:nth-child(even), footer, #main-nav { color: {{ . }}; }
  #hashover .cmtbubble { color: {{ . }} !important; }
{{ end }}

/* page_background_color */
{{ with .Site.Params.color.page_background_color }}
body { background-color: {{ . }}; }
{{ end }}

/* main_background_color */
{{ with .Site.Params.color.main_background_color }}
  #site-header ::-moz-selection, .tag ::-moz-selection { background-color: {{ . }}; }
  #site-header ::selection, .tag ::selection { color: {{ . }}; }
  #site-container, #menu-toggle, #main table tbody tr, .memberbox { background-color: {{ . }}; }
  #hashover .cmtdiv input[type="button"], #hashover .cmtdiv input.delete[type="submit"],
  #hashover .cmtdiv .optionbuttons a, #hashover .cmtdiv label, #hashover .cmtdiv input[type="button"],
  #hashover .cmtdiv input.delete[type="submit"], #hashover .cmtdiv .optionbuttons a,
  #hashover .cmtdiv label { color: {{ . }} !important; }
  #hashover .cmtdiv input.post_cmt:hover, #hashover form input.post_cmt:hover
  { background-color: {{ . }} !important; }
{{ end }}

/* alt_background_color */
{{ with .Site.Params.color.alt_background_color }}
code, pre, #main table tbody tr:nth-child(even), footer, #main-nav { background-color: {{ . }}; }
code { border-color: {{ . }}; }
#hashover form div.cmtbox, #hashover table tbody tr td,
#hashover .cmtbubble, #hashover span.options, #hashover span.options hr
{ background-color: {{ . }} !important; }
#hashover span.cmtnumber { color: {{ . }} !important; }
{{ end }}

/* accent_color */
{{ with .Site.Params.color.accent_color }}
::-moz-selection { background-color: {{ . }}; }
::selection { background-color: {{ . }}; }
main a, main a:hover, .pagination .pagination-previous a,
.pagination .pagination-next a { color: {{ . }}; }
.pagination:hover, #site-header, #main-nav .button:hover, .tag:hover, .tag:focus,
.tag:active, #main-nav .active > a, .pagination .pagination-previous a:hover,
.pagination .pagination-next a:hover, table thead th { background-color: {{ . }}; }
.menu li:hover > ul, #main-nav .is-dropdown-submenu, .widget header, #main-nav { border-color: {{ . }}; }
#hashover a, #hashover a:link { color: {{ . }} !important; }
#hashover .cmtdiv input.post_cmt, #hashover input.post_cmt:focus,
#hashover form input.post_cmt { background-color: {{ . }} !important; }
{{ end }}

/* header_text */
{{ with .Site.Params.color.header_text }}
  ::-moz-selection { color: {{ . }}; }
  ::selection { color: {{ . }}; }
  #main-nav .button:hover, #main-nav .button:hover a, a.tag:hover, a.tag:focus, a.tag:active, #main-nav .active > a, table thead th,
  table thead th a, table thead th a:hover, #main table tbody tr, .pagination:hover,
  .pagination .pagination-previous a:hover, .pagination .pagination-next a:hover,
  #site-title, #site-tagline { color: {{ . }}; }
  #site-tagline { border-color: {{ . }}; }
  #hashover .cmtdiv input.post_cmt, #hashover input.post_cmt:focus,
  #hashover form input.post_cmt { color: {{ . }} !important; }
{{ end }}


/* Background */
{{ if isset .Site.Params.background "src" }}
body {
  background-image: url("{{ .Site.Params.background.src }}");
  background-repeat: {{ if and ( isset .Site.Params.background "tile") (.Site.Params.background.tile) }}repeat{{ else }}no-repeat{{ end }};
  background-size: {{ if and (isset .Site.Params.background "fit_width") (.Site.Params.background.fit_width) }}contain{{ else }}cover{{ end }};
}
{{ end }}
</style>
