      {{ if not .Site.Params.leftsidebar }}{{ partial "sidebar.html" . }}{{ end }}
    </div>
    <footer class="row">
      <div class="small-full medium-half row-item small-text-center medium-text-left"><small>&copy; {{now.Format "2006"}} {{ .Site.Title }}.</small></div>
      <div class="small-full medium-half row-item small-text-center medium-text-right" id="social-icons">
        {{ with .Site.Params.social.deviantart }}<a href="https://{{ . }}.deviantart.com">
          <i class="fi-social-deviant-art"></i>
        </a>{{ end }}
        {{ with .Site.Params.social.facebook }}<a href="https://facebook.com/{{ . }}">
          <i class="fi-social-facebook"></i>
        </a>{{ end }}
        {{ with .Site.Params.social.github }}<a href="https://github.com/{{ . }}">
          <i class="fi-social-github"></i>
        </a>{{ end }}
        {{ with .Site.Params.social.googleplus }}<a href="https://plus.google.com/{{ . }}">
          <i class="fi-social-google-plus"></i>
        </a>{{ end }}
        {{ with .Site.Params.social.instagram }}<a href="https://instagram.com/{{ . }}">
          <i class="fi-social-instagram"></i>
        </a>{{ end }}
        {{ with .Site.Params.social.linkedin }}<a href="https://linkedin.com/in/{{ . }}">
          <i class="fi-social-linkedin"></i>
        </a>{{ end }}
        {{ with .Site.Params.social.pinterest }}<a href="https://pinterest.com/{{ . }}">
          <i class="fi-social-pinterest"></i>
        </a>{{ end }}
        {{ with .Site.Params.social.reddit }}<a href="https://www.reddit.com/user/{{ . }}">
          <i class="fi-social-reddit"></i>
        </a>{{ end }}
        {{ with .Site.Params.social.spotify }}<a href="https://open.spotify.com/user/{{ . }}">
          <i class="fi-social-spotify"></i>
        </a>{{ end }}
        {{ with .Site.Params.social.steam }}<a href="https://steamcommunity.com/{{ . }}">
          <i class="fi-social-steam"></i>
        </a>{{ end }}
        {{ with .Site.Params.social.tumblr }}<a href="https://{{ . }}.tumblr.com/">
          <i class="fi-social-tumblr"></i>
        </a>{{ end }}
        {{ with .Site.Params.social.twitter }}<a href="https://twitter.com/{{ . }}">
          <i class="fi-social-twitter"></i>
        </a>{{ end }}
        {{ with .Site.Params.social.youtube }}<a href="https://www.youtube.com/user/{{ . }}">
          <i class="fi-social-youtube"></i>
        </a>{{ end }}
      </div>
    </footer>
  </div>
</body>
</html>
