{{ $page := .page }}
{{ $site := .site }}
{{ range sort .menu }}
  <li{{if or ($page.IsMenuCurrent "main" .) ($page.HasMenuCurrent "main" .) }} class="active"{{end}}>
    {{ if .HasChildren }}<label class="main-nav button" for="nav-{{ .Name | plainify | urlize }}">{{ else }}
      <a class="main-nav button" href="{{ .URL }}">{{ end }}
        {{ .Name | upper }}{{ if .HasChildren }}&nbsp;&nbsp;<span style="float: right">&#9656;</span>{{ end }}
      {{ if not .HasChildren }}</a>{{ else }}
    </label>{{ end }}
    {{ if .HasChildren }}
      <input type="checkbox" id="nav-{{ .Name | plainify | urlize }}" class="hide"/>
      <ul>
      {{ partial "nested_menu.html" (dict "menu" .Children "page" $page "site" $site) }}
      </ul>
    {{ end }}
  </li>
{{ end }}
