{{ $page := .page }}
{{ $site := .site }}
{{ range sort .menu }}
  <li class="no-select{{if or ($page.IsMenuCurrent "main" .) ($page.HasMenuCurrent "main" .) }} active{{end}}">
      <input type="checkbox" id="nav-{{ .Name | plainify | urlize }}" class="hide"/>
      {{ if .HasChildren }}<label class="button" for="nav-{{ .Name | plainify | urlize }}">{{ end }}
        <a class="main-nav{{ if not .HasChildren }} button{{end}}" href="{{ .URL }}">
          {{ .Name | upper }}{{ if .HasChildren }}&nbsp;&nbsp;<span class="nav-arrow" style="float: right">&#9656;</span>{{ end }}
        </a>
      {{ if .HasChildren }}
      </label>
      <ul>
      {{ partial "nested_menu.html" (dict "menu" .Children "page" $page "site" $site) }}
      </ul>
    {{ end }}
  </li>
{{ end }}
