{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<ul class="pagination">
  <li class="pagination-previous{{ if .Paginator.HasPrev }}"><a href="{{ .Paginator.Prev.URL }}" aria-label="Previous page">{{else}} disabled">{{end}}Previous <span class="show-for-sr">page</span>{{ if .Paginator.HasPrev }}</a>{{end}}</li>
  <li>{{ .Paginator.PageNumber }}</li>
  <li class="pagination-next{{ if .Paginator.HasNext }}"><a href="{{ .Paginator.Next.URL }}" aria-label="Next page">{{else}} disabled">{{end}}Next <span class="show-for-sr">page</span>{{ if .Paginator.HasNext }}</a>{{end}}</li>
</ul>
{{ end }}
