<aside class="row-item small-full medium-third{{ if and (isset .Params "leftsidebar") (eq .Params.leftsidebar true) }} left{{ else }} right{{ end }}" itemscope itemtype="http://schema.org/WPSideBar">
    {{- if and $.Site.Params.sidebar $.Site.Params.sidebar.order -}}
        {{- $.Scratch.Set "sidebar" (delimit $.Site.Params.sidebar.order ",") -}}
    {{- else -}}
        {{- $.Scratch.Set "sidebar" "" -}}
        {{- if $.Site.Params.widgets.patreon -}}
            {{- $.Scratch.Add "sidebar" "patreon," -}}
        {{- end -}}
        {{- if $.Site.Params.widgets.search -}}
            {{- $.Scratch.Add "sidebar" "search," -}}
        {{- end -}}
        {{- if $.Site.Params.widgets.recent_articles -}}
            {{- $.Scratch.Add "sidebar" "recent," -}}
        {{- end -}}
        {{- if $.Site.Params.widgets.upcoming_events -}}
            {{- $.Scratch.Add "sidebar" "events," -}}
        {{- end -}}
        {{- if $.Site.Params.widgets.categories -}}
            {{- $.Scratch.Add "sidebar" "categories," -}}
        {{- end -}}
        {{- if $.Site.Params.widgets.taglist -}}
            {{- $.Scratch.Add "sidebar" "taglist," -}}
        {{- end -}}
    {{- end -}}
    {{- $widgets := (split (strings.TrimRight "," ($.Scratch.Get "sidebar")) ",") -}}

    {{- $sidebar := $.Site.Params.sidebar -}}
    {{- $bnsidebar := $.Site.Params.BluestNight.sidebar -}}
    
    {{- $scope := . -}}
    {{- range $name := $widgets -}}
        {{- if (not (isset $.Site.Params "sidebar")) -}}
            {{- $.Scratch.Set "sidebar" $bnsidebar -}}
        {{- else if (not (isset $.Site.Params.sidebar $name)) -}}
            {{- $.Scratch.Set "sidebar" $bnsidebar -}}
        {{- else if (not (isset (index $.Site.Params.sidebar $name) "path")) -}}
            {{- $.Scratch.Set "sidebar" $bnsidebar -}}
        {{- else -}}
            {{- $.Scratch.Set "sidebar" $sidebar -}}
        {{- end -}}
        {{- $sb := ($.Scratch.Get "sidebar") -}}
        {{- if eq nil $sb -}}
            {{- errorf "Sidebar widget definitions are nil: %#v" $sb -}}
        {{- else if eq nil (index $sb $name) -}}
            {{- errorf "Could not find definition for widget: %s" $name -}}
        {{- end -}}
        
        {{- $widget := index $sb $name -}}
        {{- if $widget.cache -}}
            {{- partialCached (string $widget.path) $scope -}}
        {{- else -}}
            {{- partial (string $widget.path) $scope -}}
        {{- end -}}
    {{- end -}}
</aside>
