{{- if .IsMember -}}
  {{- .Scratch.Set "attrs" "itemprop=\"sameAs\"" -}}
{{- else -}}
  {{- .Scratch.Set "attrs" "rel=\"me nofollow\"" -}}
{{- end -}}
{{ $attrs := .Scratch.Get "attrs" }}

{{ if ne .Social nil }}
{{ with .Social.deviantart }}<a href="https://{{ . }}.deviantart.com" class="row-item" {{ $attrs | safeHTMLAttr }}>
  <span class="fa fa-deviantart"></span>
</a>{{ end }}
{{ with .Social.email }}<a href="mailto:{{ . }}" class="row-item" {{ $attrs | safeHTMLAttr }}>
  <span class="fa fa-envelope"></span>
</a>{{ end }}
{{ with .Social.facebook }}<a href="https://facebook.com/{{ . }}" class="row-item" {{ $attrs | safeHTMLAttr }}>
  <span class="fa fa-facebook-official"></span>
</a>{{ end }}
{{ with .Social.github }}<a href="https://github.com/{{ . }}" class="row-item" {{ $attrs | safeHTMLAttr }}>
  <span class="fa fa-github"></span>
</a>{{ end }}
{{ with .Social.gitlab }}<a href="https://gitlab.com/{{ . }}" class="row-item" {{ $attrs | safeHTMLAttr }}>
  <span class="fa fa-gitlab"></span>
</a>{{ end }}
{{ with .Social.googleplus }}<a href="https://plus.google.com/{{ . }}"  class="row-item" {{ $attrs | safeHTMLAttr }}>
  <span class="fa fa-google-plus"></span>
</a>{{ end }}
{{ with .Social.instagram }}<a href="https://instagram.com/{{ . }}" class="row-item" {{ $attrs | safeHTMLAttr }}>
  <span class="fa fa-instagram"></span>
</a>{{ end }}
{{ with .Social.linkedin }}<a href="https://linkedin.com/in/{{ . }}" class="row-item" {{ $attrs | safeHTMLAttr }}>
  <span class="fa fa-linkedin"></span>
</a>{{ end }}
{{ with .Social.medium }}<a href="https://medium.com/@{{ . }}" class="row-item" {{ $attrs | safeHTMLAttr }}>
  <span class="fa fa-medium"></span>
</a>{{ end }}
{{ with .Social.pinterest }}<a href="https://pinterest.com/{{ . }}" class="row-item" {{ $attrs | safeHTMLAttr }}>
  <span class="fa fa-pinterest"></span>
</a>{{ end }}
{{ with .Social.quora }}<a href="https://quora.com/profile/{{ . }}" class="row-item" {{ $attrs | safeHTMLAttr }}>
  <span class="fa fa-quora"></span>
</a>{{ end }}
{{ with .Social.reddit }}<a href="https://www.reddit.com/user/{{ . }}" class="row-item" {{ $attrs | safeHTMLAttr }}>
  <span class="fa fa-reddit-alien"></span>
</a>{{ end }}
{{ with .Social.slack_org }}<a href="https://{{ . }}.slack.com" class="row-item" {{ $attrs | safeHTMLAttr }}>
  <span class="fa fa-slack"></span>
</a>{{ end }}
{{ with .Social.soundcloud }}<a href="https://soundcloud.com/{{ . }}" class="row-item" {{ $attrs | safeHTMLAttr }}>
  <span class="fa fa-soundcloud"></span>
</a>{{ end }}
{{ with .Social.spotify }}<a href="https://open.spotify.com/user/{{ . }}" class="row-item" {{ $attrs | safeHTMLAttr }}>
  <span class="fa fa-spotify"></span>
</a>{{ end }}
{{ with .Social.steam }}<a href="https://steamcommunity.com/{{ . }}" class="row-item" {{ $attrs | safeHTMLAttr }}>
  <span class="fa fa-steam"></span>
</a>{{ end }}
{{ with .Social.telegram }}<a href="http://t.me/{{ . }}" class="row-item" {{ $attrs | safeHTMLAttr }}>
  <span class="fa fa-telegram"></span>
</a>{{ end }}
{{ with .Social.tumblr }}<a href="https://{{ . }}.tumblr.com/" class="row-item" {{ $attrs | safeHTMLAttr }}>
  <span class="fa fa-tumblr"></span>
</a>{{ end }}
{{ with .Social.twitch }}<a href="https://www.twitch.tv/{{ . }}" class="row-item" {{ $attrs | safeHTMLAttr }}>
  <span class="fa fa-twitch"></span>
</a>{{ end }}
{{ with .Social.twitter }}<a href="https://twitter.com/{{ . }}" class="row-item" {{ $attrs | safeHTMLAttr }}>
  <span class="fa fa-twitter"></span>
</a>{{ end }}
{{ with .Social.vimeo }}<a href="https://vimeo.com/{{ . }}" class="row-item" {{ $attrs | safeHTMLAttr }}>
  <span class="fa fa-vimeo"></span>
</a>{{ end }}
{{ with .Social.youtube }}<a href="https://www.youtube.com/user/{{ . }}" class="row-item" {{ $attrs | safeHTMLAttr }}>
  <span class="fa fa-youtube"></span>
</a>{{ end }}
{{ end }}
